# ignored files

# Files made by Arduino plugin for Atom
*.ino.bin
*.ino.eep
*.ino.elf
*.ino.hex

# Files generated for 3D printer
piskvorky_case/3DprinterPrusa_data/

# Notes for case build
piskvorky_case/notes/

# Unfinished bachelor thesis
BAP/
